.PhoneInput {
  @apply border-slate-300 hover:border-black;
}

.PhoneInput input.PhoneInputInput {
  @apply border-slate-300 hover:border-black focus:border-blue-600 focus-visible:border-blue-600;
  outline: none;
}
